/*
This style sheet is for Skyhawk Everheart's Local Scan tool
Author: Skyhawk Everheart
 */

/* Reset Styles  Styles */
html {
    font-size: 14px;
}
html, body, header, div, form, li, nav, a, label, textarea, input, h3, ul, img,
button, footer {
    border: 0;
    margin: 0;
    padding: 0;
}

/* the div that the output based on  web response starts out hidden */
#userOutputView {
    display: none;
}

/* Header Styles Styles */
.nav-bar {
    background: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
}
#leftLinks {
    float: left;
}
#rightLinks {
    float: right;
}

#rightLinks ul {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    list-style-type: none;
}

/* Main Content Styles */
body {
    padding-top: 40px;
    background-color: black;
    color: white;
}

#overallContentWrapper {
    width: 100%;
}

#leftPaneWrapper {
    width: 50%;
    float: left;
}

#leftPaneWrapper label {
    font-size: 20px;
}

#leftPaneWrapper label {
    text-align: center;
    padding-bottom: 6px;
}

#leftPaneWrapper label, #leftPaneWrapper textarea, #leftPaneWrapper input {
    display: flex;
    flex-direction: column;

}

#rightPaneWrapper {
    margin-left: 50%;
    padding-top: 80px;
}

#rightPaneWrapper h3, #rightPaneWrapper ul, #rightPaneWrapper li, #rightPaneWrapper img {
    display: flex;
    flex-direction: column;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*This applies only to the textbox itself */
#userDataInput {
    border: solid black 3px;
    resize: none;
}

/* Footer Styles Section */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    float: right;
}

#switchToDarkButton {
    display: none;
}

#footerWrapper ul {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    list-style-type: none;
}

/* Style for li elements in the header, and instructions area */
#rightLinks li, #userInstructions li {
    padding: 4px;
}