/*
This style sheet is for Skyhawk Everheart's Local Scan tool
Author: Skyhawk Everheart
 */

/* Reset Styles  Styles */
html, body, header, div, form, li {
    margin: 0;
    padding: 0;
}

#userOutputView {
    display: none;
}

#userInputView {
    display: inline-block;
}

/* Header Styles Styles */
header {
    background: darkcyan;
    width: 100%;
    padding: 8px;
}
#leftLinks {
    float: left;
}
#rightLinks {
    float: right;
}


/* Main Content Styles */
#userInputView {
    float: left;
}

#userInstructions {
    float: right;
}

li {
    padding: 4px;
}
