/*
This style sheet is for Skyhawk Everheart's Local Scan tool
Author: Skyhawk Everheart
 */

/* Reset Styles  Styles */
html {
    font-size: 14px;
}
html, body, header, div, form, li, nav, a, label, textarea, input, h3, ul, img, button {
    border: 0;
    margin: 0;
    padding: 0;
}

#userOutputView {
    display: none;
}

#userInputView {
    display: inline-block;
}

/* Header Styles Styles */
.nav-bar {
    background: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
}
#leftLinks {
    float: left;
}
#rightLinks {
    float: right;
}
#rightLinks ul {
    list-style-type: none;
}
#rightLinks ul {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

/* Main Content Styles */
body {
    padding-top: 40px;
}

#userInputView {
    float: left;
    padding-left: 35px;
}
#userInputView label {
    font-size: 20px;
}

#userDataInput {
    border: solid black 3px;
    display: flex;
    flex-direction: column;
}

#userInputView label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#userInstructions {
    float: right;
}

#userInstructions ul, #userInstructions img {
    display: flex;
    flex-direction: column;
}

li {
    padding: 4px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#userInputView input, #userOutputView button {
    border: solid black 1px;
}