/*
This style sheet is for Skyhawk Everheart's Local Scan tool
Author: Skyhawk Everheart
 */

/* Reset Styles  Section */
#userOutputView {
    display: none;
}

#userInputView {
    display: inline-block;
}

/* Header Styles Section */
header {
    background: darkcyan;
    width: 100%;
    padding-top: 30px;
}